## CREA UN ARCHIVO (.env) EN LA CARPETA PRINCIPAL DEL BACKEND Y COPIA EL CONTENIDO DEL ARCHIVO SUSTITUYENDO 
## LOS VALORES SOLICITADOS

DATABASE_USER="AQUI AGREGAR EL USUARIO PARA ACCEDER A LA BASE DE DATOS"
DATABASE_PASSWORD="AQUI AGREGAR EL PASSWORD PARA ACCEDER A LA BASE DE DATOS"
DATABASE_HOST="AQUI AGREGAR EL HOST"
DATABASE_NAME="AQUI AGREGAR EL NOMBRE DE LA BASE DE DATOS"
DATABASE_PORT="AQUI AGREGAR EL PUERTO"